<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Request Jadwal</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2>Request Jadwal Periksa</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Masukkan data berikut
                    </div>
                    <div class="card-body">
                        <form th:action="@{/lab/pemeriksaan/permintaan}" th:object="${jadwal}" method="POST">
                            Nama Pasien: <br>
                            <input type="text" name="namaPasien" class="form-control"/>
                            <br>
                            Tanggal input: <br>
                            <input type="date" name="2019-04-17" class="form-control"/>
                            <br>
                            Status: <br>
                            <input type="text" name="status" value="Menunggu Persetujuan" class="form-control" readonly/>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>