<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Request Jadwal</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2>Request Jadwal Periksa</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Masukkan data berikut
                    </div>
                    <div class="card-body">
                        <form th:action="@{/lab/pemeriksaan/permintaan/} + ${pasien.id}" th:object="${pasien}" method="POST">
                            Nama Pasien: <br>
                            <input type="text" th:value= "${pasien.nama_pasien}" name="namaPasien" class="form-control"disabled/>
                            <br>
                            Tanggal Pengajuan: <br>
                            <input type="date" name="tanggal_pengajuan" class="form-control"/>
                            <br>
                            Tanggal Pemeriksaan: <br>
                            <input type="date" name="tanggal_pemeriksaan" class="form-control"/>
                            <br>
                            Status: 0 - Menunggu Persetujuan<br>
                            <input type="number" name="status" value="0" class="form-control" disabled/>
                            <br>
                            Hasil: <br>
                            <input type="text" name="hasil" class="form-control"/>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>