<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
		<br>
		<table border="I">
			<thead>
				<tr>
					<th style="text-align: center">No.</th>
					<th style="text-align: center">Id</th>
					<th style="text-align: center">Nama Pasien</th>
					<th style="text-align: center">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pasien,iterationStatus : ${pasien}">
					<td th:text="${iterationStatus.count}"></td>
					<td th:text="${pasien.id}"></td>
					<td th:text="${pasien.nama_pasien}"></td>
					<td><a
						th:href="@{/pemeriksaan/permintaan/{id}} + ${pasien.id}">Request Jadwal</a></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
		<form th:action="@{/lab/pemeriksaan/pasien}">
			<input type="hidden">
			<button type="submit" class="btn btn-primary">Lihat Pasien</button>
		</form>
		<br>
		<div class="row">
            <div class="col-md-6">
                <div class="card" th:each="jadwal,iterationStatus : ${jadwal}">
                    <div class="card-header" th:text="'Jadwal ID : ' + ${jadwal.id}"></div>
                    <div class="card-body">
                    	<p th:text="'Tanggal Pengajuan 		 	: ' + ${jadwal.tanggal_pengajuan}"></p>
                    	<p th:text="'Tanggal Pemeriksaan		: ' + ${jadwal.tanggal_pemeriksaan}"></p>
                        <p th:text="'Status         			: ' + ${jadwal.status}"></p>
                        <p th:text="'Hasil	         			: ' + ${jadwal.hasil}"></p>
                        <div class="row">
                            <button>
                            <td>
                            	<a th:href="@{/lab/pemeriksaan/ubah/} + ${jadwal.id}">Update Informasi Jadwal Periksa</a>
                            </td>
                            </button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
</body>
</html>